<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Our Blog</h1>
        <div>
            <h4><a href="http://blazarcommunications.tumblr.com/">Find Us On Tumblr</a></h4>
        </div>
        <div>
            <h4><a href="https://plus.google.com/109011054650093657125/about">Find Us On Google +</a></h4>
        </div>
    </div>
</div>

<h2>THIS IS GONNA BE ONE OF THOSE NEATO DROP DOWN-IES FROM CODECADEMY</h2>
<h3>For now, doe:</h3>
<ul></ul>
<li><%= link_to "Post #1", post1_path %></li>
<li><%= link_to "Post #2", post2_path %></li>
<li><%= link_to "Post #3", post3_path %></li>
</ul>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>