<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Document Management Solutions</h1>
        <h2>Secure and Easy Document Management with FlexStream Solutions</h2>
        <div>
            <h4 class="telephone"><i class="fa fa-envelope"></i><%= link_to "Invoices and Statements with FlexStream", flexdocs_path %></h4>
        </div>
        <div>
            <h4 class="telephone"><i class="fa fa-envelope-o"></i><%= link_to "eBilling Made Easy with FlexStream", flexmail_path %></h4>
        </div>
    </div>
</div>
<div class="clear container page-frame">
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/flex_stream_logo-400x69_zpsespjpy6z.jpg" />
    </div>
    <div class="col-md-6">
        <p>FlexStream is an unmatchable processing solution.  FlexStream reduces postal service costs by
        consolidating multiple documents into a single piece of mail for the intended recipient, adds 
        overlays and digital inserts into your documents to entirely eliminate the cost of preprinted 
        forms, allows you to add graphics, barcodes, and scancodes to your documents to optimize their 
        use as marketing tools, and even converts traditional simplex printed documents into duplex, 
        saving your company enormous amounts of money on printing and postage costs.  Better yet, with 
        FlexStream's ability to load preexisting PDF files, there's no need to change existing 
        systems. FlexStream will rapidly process files, allowing you to print the finished product at 
        any printer.</p>
        <p>User friendly, FlexStream's intuitive user interface negates the requirement of 
        specialized personnel. There’s no need to hire an expert to operate the software; 
        FlexStream comes with wizards, context sensitive help, ribbons, and tooltips to make every 
        experience with the program go as smoothly as possible.</p>
        <p>Choose your FlexStream system based on your company’s needs&colon;</p>
    </div>
</div>
<br>
<br>
<div class="clear container page-frame">
    <div class="clear container">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexStream-Basic-400x276_zpstklqvxbe.png" />
        </div>
        <div class="col-md-6">
            <h3><strong>FlexStream Basic</strong></h3>
            <p>If you’re looking to increase the integrity of your documents by adding scancodes 
            &lpar;OMR, 1D or 2D BCR&rpar;, accumulate savings by consolidating documents intended for
            a single recipient, and enable automatic processing on inserters, the FlexStream Basic is 
            the program for you.</p>
            <p>Read More About what You Can Do with the FlexStream Basic&colon;</p>
            <h4><strong>Document Files</strong></h4>
            <ul>
                <li>Open one or more document files in PDF or PDF/A format.</li>
                <li>Process duplex or single sided files and make single sided files duplex.</li>
                <li>Remove leading &lpar;cover&rpar; and trailing pages from the imported document files.</li>
                <li>Scale imported documents to a selected output size and move contents on the page.</li>
                <li>Use templates for recurring jobs, eliminating the need to set up jobs that are run on a 
                regular basis.</li>
            </ul>
            <h4><strong>Document Data</strong></h4>
            <ul>
                <li>Extract data from your PDF documents to be used for further processing in print objects 
                or to make comparisons and decisions inside the program.</li>
                <li>Data is retrieved from specified areas and may contain text or graphics.</li>
                <li>Use pattern matching to search for specific data within larger areas, replace parts of 
                the text, and format the result.</li>
            </ul>
            <h4><strong>Breaks and Grouping</strong></h4>
            <ul>
                <li>Define breaks that mark the end of one document and the beginning of another. Breaks 
                can be based on a fixed number of pages, data contained on a page, or data 
                changing between pages.</li>
                <li>Group documents for the same recipient into single mail items (sets) based on data 
                contained in the documents, with the option to minimize the number of mail pieces.</li>
                <li>Overcount splitting allows you to control what is done when the total number of pages 
                of all documents is larger than the maximum for a mail piece. They may be split into multiple
                items or processed separately.v</li>
                <li>Previewing results of breaking, grouping, sorting and conditional scancode marks in 
                a datasheet.</li>
                <li>A job summary lists the details of the processed input files, the documents and sets
                made, and selective feeds. It also includes operator instructions for further 
                processing on the inserter.</li>
            </ul>
            <h4><strong>Scancodes</strong></h4>
            <ul>
                <li>Add scancodes for your inserter. Pre-defined scancodes for inserters of all major 
                manufacturers are included in the program. FlexStream supports OMR and scancodes based 
                on 1-D and 2-D barcodes.</li>
                <li>Set up scancode configurations that match the options of your inserter and modify them
                to meet your specific needs.</li>
                <li>All features usually found in scancodes are supported: Integrity features like page-, 
                document- and set-numbering; Selective operations like divert, sort, seal etc.; Selective 
                feeds based on any condition you specify.</li>
                <li>Guides help you in positioning the scancode according to the specifications of your inserter.</li>
                <li>Scancodes can be made opaque and blank out areas can be added to cover unwanted elements on your layout.</li>
            </ul>
        </div>
    </div>
    <div class="clear container">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexStream-Advanced-400x327_zps3dxyyfgp.png" />
        </div>
        <div class="col-md-6">
            <h3><strong>FlexStream Advanced</strong></h3>
            <p>Possessing all the features of the Basic addition of FlexStream, Flexstream Advanced 
            also allows users to add graphics, barcodes and (conditional) text to documents, 
            transforming their existing documents into promotional tools. If you’re looking to enhance
            and manipulate preexisting PDF documents, FlexStream Advanced is the program you should 
            look into. Read more about the program below.</p>
            <h4><strong>Advanced Document Options</strong></h4>
            <p>Link to PDF document files in different layouts. This makes it possible to combine e.g 
            invoices and orders or shipping documents in a single mail piece.</p>
            <h4><strong>Advanced Processing Features</strong></h4>
            <ul>
                <li>Document break definition and grouping features as in FlexStream Basic.</li>
                <li>Sort sets and documents within a set in the required order. E.g. sort your 
                sets on postcode and the documents in a set on invoice number.</li>
                <li>Job splitting based on any condition (e.g. set size) to divide a job in batches to be 
                handled separately.</li>
            </ul>
            <h4><strong>Additional Data Fields</strong></h4>
            <ul>
                <li>Next to text and graphics captured from the document, data may be based on
                &lpar;decoded&rpar; barcodes.</li>
                <li>Look-up fields to link document data to other data contained in databases or 
                to generate filenames for variable graphics.</li>
                <li>Date/time fields in any format.</li>
                <li>Calculated fields based on Visual Basic procedures.</li>
                <li>Postal functions to generate contents of indicia and postal barcodes.</li>
            </ul>
            <h4><strong>Document Enhancement</strong></h4>
            <ul>
                <li>Add scancodes. &lpar;For a full description, see FlexStream Basic.&rpar;</li>
                <li>Add any fixed or variable text based on a condition.</li>
                <li>Supports over 80 different barcodes, including 2-D barcodes and postal barcodes.</li>
                <li>Include fixed and variable graphics in a wide variety of formats.</li>
                <li>Add postal indicia and postage paid imprints.</li>
                <li>Add overlays to your documents.</li>
            </ul>
            <h4><strong>Output</strong></h4>
            <ul>
                <li>Dynamic &lpar;conditional&rpar; input paper tray selection &lpar;e.g to print first or last page of a 
                document on specific paper&rpar;.</li>
                <li>Print output on multiple printers.</li>
                <li>Export data from the generated datasheet.</li>
            </ul>
        </div>
    </div>
    <div class="clear container">
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexStream-Professional-400x312_zps8gogjwmw.png" />
        </div>
        <div class="col-md-6">
            <h3><strong>FlexStream Professional</strong></h3>
            <p>Document management just got easier with FlexStream professional. The power to add email 
            capabilities and digital inserts and prepare documents for archiving is at your fingertips, 
            right alongside closed loop processing with verification and reprints. Find out more about
            how FlexStream Professional can enhance your company’s data and document management 
            solutions by reading below.</p>
            <h4><strong>Digital Inserts</strong></h4>
            <ul>
                <li>Add digital inserts. These are pages from PDF-files that are &lpar;conditionally&rpar; added
                to the documents, before the documents are printed.</li>
                <li>Digital inserts can be conditional and variable, so inserts can be added depending on 
                the contents of the main document.</li>
                <li>Digital inserts can be added to each document or once per mail piece only.</li>
            </ul>
            <h4><strong>Closed Loop Processing</strong></h4>
            <ul>
                <li>Export job and set data to a file for processing by the inserter in any user defined format.</li>
                <li>Import job and set data for comparison with the printed job for verification and reprinting.</li>
            </ul>
            <h4><strong>Email</strong></h4>
            <ul>
                <li>Documents can be removed from the print stream and be emailed instead. Documents may also be emailed and 
                printed. All based on a condition you specify.</li>
                <li>The email with the attached documents can be mailed using SMTP or an Exchange pick-up 
                directory, making integration easy.</li>
                <li>Digital inserts and digital versions of selective feeds can be included in the emailed document.</li>
            </ul>
            <h4><strong>Archiving</strong></h4>
            <ul>
                <li>Digital copies in PDF format of the &lpar;e&rpar;mailed documents can be saved to a directory 
                to be archived</li>
                <li>You may choose if you want to include digital inserts and/or digital 
                versions of any selective insert which was added on the inserter to the archived documents.</li>
            </ul>
        </div>
    </div>
    <div class="clear text-center">
        <a href="#" class="btn-blazar">Find out more about FlexStream Solutions with our brochure.</a>
    </div>
</div>




<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>