<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Invoices and Statements</h1>
        <h2>USPS&trade; Mail Processing Made Easy</h2>
        <div>
            <h4 class="telephone"><i class="fa fa-envelope"></i><%= link_to "FlexStream", flexstream_path %></h4>
        </div>
        <div>
            <h4 class="telephone"><i class="fa fa-envelope-o"></i><%= link_to "eBilling Made Easy with FlexStream", flexmail_path %></h4>
        </div>
    </div>
</div>

<p>FlexStream allows you to replace and add address data by simply running it through the USPS 
module from your documents. From there, you can generate and print Postnet, Code128, and IM Barcodes
so you can get every benefit possible from USPS™&trade; discounts and services. Want more? The comprehensive
address quality and mail processing features of the FlexStream USPS&trade; Mail processing module enables 
access to CASS, NCOA, Presort, DSF2, and other services that ensure you ship with the highest possible
USPS&trade; discounts.</p>
<h4><strong>CASS Certified&trade; for address correction</strong></h4>
<p>Standardize abbreviations and address formats to USPS&trade;  guidelines, correct the spelling of streets and 
cities and verify deliverability, includes DPV&reg;, LACSLink&reg; and SuiteLink&trade; processing. 
Add missing postal data including nine-digit ZIP&reg; codes, eLOT&reg; and carrier route 
numbers, delivery points and more.</p>
<h4><strong>Move Update Service</strong></h4>
<p>Process lists against the limited 18-month or full 48-month NCOALink data set. NCOALink processing 
meets USPS&trade; Move Update requirements for First-Class Mail&reg; and Standard Mail&reg; discounts.</p>
<h4><strong>PAVE&trade; certified postal presortingv</strong></h4>
<p>Sort address lists for the lowest possible postal rates and generate all required USPS&trade;
documentation, reports and postage statements. The service includes support for First-Class Mai&reg; 
and Standard Mail&reg;.</p>
<p>The leading experts in enterprise grade software as a service &lpar;SaaS&rpar; for presort and 
address hygiene solutions, TEC Mailing Solutions, powers the FlexStream USPS&trade; Mail 
processing module. With powerful back-end Presort and CASS engines powered by SAP&reg;, real-time
processing is delivered on-demand, through the cloud.</p>
<p>Think you’ll be a frequent user? The FlexStreams USPS&trade; module has a purchasable annual 
subscription which can be added onto your solution for an additional fee. If you’ll only use the 
module occasionally, that’s okay as well. There’s also an as-needed, pay-as-you-go pricing plan for
occasional users. Only use and pay for what you’ll need. There are no add-ons. Dedupe, Mail.dat, 
and Palletization are included. USPS discounts are now within reach of small businesses and 
infrequent mailers.</p>
<div class="container clear jumbotron">
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexDocs/USPS-CASS_zpshyhgpvqi.png" />
    </div>
    <div class="col-md-6">
        <h4><strong>Address Hygiene Services</strong></h4>
        <ul>
            <li>CASS Certified&trade; for accuracy by the USPS&trade;. Produces Form 3553.</li>
            <li>Integrated DPV&reg; ensures that each address is a deliverable location.</li>
            <li>NCOA 18 or 48 months processing.</li>
            <li>Optional Delivery Sequence File &lpar;DSF2&rpar; processing.</li>
            <li>Instant, on-line Process Acknowledgment Acknowledgement Form &lpar;PAF&rpar; generation.</li>
            <li>Extensive formatting options for returned data, like casing and replacing or removing 
            address elements.</li>
            <li>Supports batch processing as well as single address look-up.</li>
        </ul>
    </div>
</div>
<div class="container clear jumbotron">
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexDocs/USPS-Presort_zpsue5ft6fq.png" />
    </div>
    <div class="col-md-6">
        <h4><strong>Presort</strong></h4>
        <ul>
            <li>USPS&trade; PAVE &lpar;Gold&rpar; Certified presort processing.</li>
            <li>Lowest available presorted postal rates for volume mailings.</li>
            <li>Advanced business rules driven Drop Ship Entry Point Lists that can 
            maximize your postal savings even further.</li>
            <li>Palletization of sacks and trays.</li>
            <li>Produces all required USPS&trade; mailing paperwork. All reports are 
            generated in PDF format for easy access and printing. Viewing and printing 
            are integrated in FlexMail.</li>
            <li>Generates Mail.dat.</li>
            <li>Customizable break marks for packages, containers and pallets.</li>
        </ul>
    </div>
</div>
<div class="container clear jumbotron">
    <div class="col-md-6">
        <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/FlexStream/FlexDocs/USPS-Additional_zpssfdlxker.png" />
    </div>
    <div class="col-md-6">
        <h4><strong>Additional USPS&trade; Mail Features</strong></h4>
        <ul>
            <li>Easily add a Permit Imprint to your mailing.</li>
            <li>Generate and print Postnet, Code128 and IM Barcode &lpar;IMB&rpar;.</li>
            <li>Use postal templates to help you design your mail piece according to the USPS&trade; standards.</li>
        </ul>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>