<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Mail Metering Systems</h1>
        <h2>Better deals from better meters.</h2>
    </div>
</div>

<div class="clear">
    <h2>Less Than &dollar;100</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase-mini-thumb_zpsh3psinp5.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>PostBase Mini &ndash; Only &dollar;21.95&frasl;Month!</h3>
            <p>This whisper-quiet mailing machine processes mail at up to 17 pieces per minute!
            PostBase Mini is the first USPS IMI-compliant postage meter in the industry, giving customers 
            the highest level of security and reporting capabilities. The Mini features the first ever color touch 
            screen in the entry-level &rdquo;A&ldquo; segment that makes setup and operations easy. You won’t find a 
            quieter, simpler meter in its class. The Mini’s 5lb integrated scale comes in five different colors so
            you can customize your mailing machine to fit your office environment and personal style.</p>
            <a href="#" class="btn-blazar">Learn More About the PostBase Mini</a>
        </div>
    </div>
</div>
<div class="clear">
    <h2>&dollar;100-&dollar;1500</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase-20-400x220_zpsbokbahnn.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>PostBase 20 Postage Meter &ndash; Only &dollar;27&frasl;Month!</h3>
            <a href="#" class="btn-blazar">Download Meter Agreement</a>
            <p>PostBase 20 brings FP's renowned PostBase technology to small businesses and 
            organizations that need an affordable option for their mailing needs. This fully 
            digital mailing system is a whisper-quiet, smooth operating workhorse with an 
            award-winning design that makes a pleasing aesthetic addition to your office.</p>
           <a href="#" class="btn-blazar">PostBase 20 Specifications</a>
        </div>
    </div>

    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/pink-postbase-400x198_zpsmn4g0uul.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Pink PostBase for Breast Cancer Awareness!</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>All Postbase Postage Meters from the PostBase30 through the PostBase85 are available in 
                pink, and a percentage of the monthly rental agreement on all Pink Postbase 
                Postage Meters goes to support the fight against Breast Cancer.</p>
               <li class="btn-blazar"><%= link_to "Learn More About Pink Postbase", mail4charity_path %></li>
            </div>
        </div>
    </div>
    
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/Postbase301-400x400_zps0ueeqpui.png" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>PostBase 30 Postage Meter &ndash; Only &dollar;40&frasl;Month!</h3>
                <a href="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/Postbase301-400x400_zps0ueeqpui.png" class="btn-blazar">Download Meter Agreement</a>
                <p>If you're a small business who sends enough mail and&frasl;or packages to \
                justify a small monthly expense to automate and speed up your mail processing,
                the PostBase 30 may be just right for you. The PostBase 30 can process mail at up to
                30 letters per minute with smooth semi-automatic letter feeding, where you feed envelopes 
                one-at-a-time and the machine rapidly takes your letters, prints the postage, and outputs 
                the envelopes. This little beauty includes a 5 lb. integrated scale and five cost accounts,
                both of which are upgradable to meet your business needs.</p>
                <a href="#" class="btn-blazar">PostBase 30 Specifications</a>
            </div>
        </div>
    </div>
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase-45-semi-400x258_zpsluw6mg6z.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Postbase 45 Semi-Auto Meter &ndash; Only &dollar;50&frasl;Month!</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>The PostBase 45 is 50&percnt; faster than the PostBase 30 and comes
                standard with more capacity in several important aspects, including the 10lb scale
                weight and 20 cost accounts. In semi-automatic mode it's fast enough to support a 
                busy small business. With the fully automatic feeder&frasl;sealer,
                the PostBase 45 turns into a true workhorse for larger mail volumes. 
                You'll especially appreciate the auto-feeder when faced with large piles of 
                mail to process in a single session. Simply stack the envelopes and let 
                the machine do the rest.</p>
                <a href="#" class="btn-blazar">PostBase 45 Semi-Automatic Specifications</a>
            </div>
        </div>
    </div>
        <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase-45-auto-400x210_zpsuydg6ean.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Postbase 45 Automatic Postage Meter</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>The PostBase 45 is 50&percnt; faster than the PostBase 30 and comes 
                standard with more capacity in several important aspects, including the 
                10lb scale weight and 20 cost accounts. In semi-automatic mode it's fast 
                enough to support a busy small business. With the fully automatic 
                feeder&frasl;sealer, the PostBase 45 turns into a true workhorse for larger 
                mail volumes. You'll especially appreciate the auto-feeder when faced with 
                large piles of mail to process in a single session. Simply stack the envelopes 
                and let the machine do the rest.</p>
                <a href="#" class="btn-blazar">PostBase 45 Semi-Automatic Specifications</a>
            </div>
        </div>
    </div>
</div>
<div class="clear">
    <h2>&dollar;1500 or More</h2>
    <div>
        <div class="col-md-6">
            <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase65-400x267_zpsmju4xgov.jpg" width="400px" />
        </div>
        <div class="col-md-6">
            <h3>PostBase 65 Postage Meter</h3>
            <a href="#" class="btn-blazar">Download Meter Agreement</a>
            <p>The PostBase 65 is 44&percnt; faster than the PostBase 45, delivering 
            more capacity in several important aspects, including the 15lb scale weight and 
            50 cost accounts. The 65 comes standard with a fully automatic feeder&frasl;sealer,
            which eases the pain of sending large mail volumes. Paired with MailOne 2.0 software 
            turns the PostBase 65 into a highly efficient mailing and shipping partner.</p>
           <a href="#" class="btn-blazar">PostBase 65 Specifications</a>
        </div>
    </div>

    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/postbase85-400x236_zpsvi1txsbj.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Postbase 85 Postage Meter</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>The PostBase 85 is 31&percnt; faster than the PostBase 65 and comes standard with 
                auto-feeder&frasl;sealer, differential weighing and 100 departmental accounts.</p>
                <p>This high-capacity dynamo easily handles high volumes of daily mailing. 
                It can also process large mass mailings, applying postage and sealing up to 2,500 
                letters in a half-hour with minimal operator involvement.</p>
                <a href="#" class="btn-blazar">PostBase 85 Specifications</a>
            </div>
        </div>
    </div>
    
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/dp155a-400x209_zpscsr245oa.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Data-Pac DP155A</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>Automatic Mailing Machine with eSmartMail that process items at speeds of up to 155LPM 
                Designed to be used with customer supplied PC.</p>
                <a href="#" class="btn-blazar">Data-Pac DP155A Specifications</a>
            </div>
        </div>
    </div>
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/dp155w-400x282_zps6k5zjkxk.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Data-Pac DP155W</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>Digital Mailing System with Speeds of up to 155 LPM and 90 LPM. Weigh in Motion Built 
                in PC, with touch screen interface and eSMART-Mail Software. Includes touch screen and PC.</p>
                <a href="#" class="btn-blazar">Data-Pac DP155W Specifications</a>
            </div>
        </div>
    </div>
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/data-pac-the-curve_zpst5hv5myx.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Data-Pac Curve</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>The Curve Intelligent Envelope Processing system has weigh-in-motion 
                capabilities, a built in 70lb scale, unlimited accounting and job reporting,
                operator reporting, presort reporting, full International mail manual with 
                custom forms printing, e-certified forms printing with 3877 firm mailer book all with a 
                15&rdquo; color touch screen.</p>
                <a href="#" class="btn-blazar">Data&dash;Pac Curve Specifications</a>
            </div>
        </div>
    </div>
    <div class="clear">
        <div>
            <div class="col-md-6">
                <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Mail-Meters/advanced-curve_zpsynfhmcjq.jpg" width="400px" />
            </div>
            <div class="col-md-6">
                <h3>Data-Pac Advanced Curve</h3>
                <a href="#" class="btn-blazar">Download Meter Agreement</a>
                <p>The Advance Curve Intelligent Envelope Processing System has an OCR camera that 
                reads the address at speeds of up to 6,000 per hour. The system calculates the zip 
                plus 4 plus 2 and then sprays the IMB on the bottom of the envelope which qualifies 
                the customer for the letter mixed AADC rate without doing any sorting, that equates to 
                a 5.8 cent per piece discount allowing the system to be cost justified with as little 
                as 1775 letters per day!</p>
                <a href="#" class="btn-blazar">Data-Pac Advanced Curve Specifications</a>
            </div>
        </div>
    </div>
</div>


<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>