<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Our Blog</h1>
        <h2>Post #1</h2>
        <div>
            <h4><i class="fa fa-arrow-right"></i><%= link_to "Index", blog_path %></h4>
        </div>
        <div>
            <h4><i class="fa fa-arrow-left"></i><%= link_to "Last Post", post2_path %></h4>
        </div>
    </div>
</div>
<div class="page-frame">
    <img src="http://www.blazarcomm.com/wp-content/uploads/2015/07/flex_stream_logo-400x69.jpg" />
    <h2>Announcing Our FlexStream Partnership!</h2>
    <p>Great news! Blazar Communications is proud to announce our role as a major West Coast partner of Flex Systems! We now
    supply the FlexStream Traditional and Digital Mailing solutions, a line of low cost document processing solutions.
    No matter what your workflow needs, Blazar has a FlexStream solution from Flex Systems available for you! With Basic, Advanced,
    and Professional solutions, FlexStream offers a variety of benefits that can be fitted to any business's requirements.
    Easily scan documents to upload them to the program and do away with printed copies of classified documents entirely!
    Their secure  program servers ensure your documents are always safe. Still want more?</p>
    <p>Let's take a look at some of the great benefits of these fantastic solutions:</p>
    <ul>
      <li>The new addition of scan codes to forms</li>
      <li>The ability to merge multiple files together at the click of a button</li>
      <li></li>
      <li>HIPAA compliant Email document distribution channel</li>
      <li>Secure tracking for all your documents</li>
      <li>User-friendly intuitive user interface</li>
      <li>Budget-friendly Pay as You Go and Monthly payment options</li>
      <li>And more!!!</li>
    </ul>
    <p>At Blazar, we strive to offer you the best technology and digital solutions available on the market.
    When you set up a FlexStream solution with Blazar, you're making an investment in your company's future 
    and opening the door to a world of faster processing and bigger savings.</p>
    <p>What are you waiting for? Contact Blazar Communications about setting up your FlexStream mailing and document processing
    solution&hellip;today!</p>
</div>

<!--I feel like there should be a button here to contact or something.
Should there be a button here?-->



<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>