<div class="container">
    <div class="col-md-6">
    <img src="http://i963.photobucket.com/albums/ae111/BlazarCommunications/Blazar_General/logo21_zpsksjhpfgd.png", height="150px", width="400px">
    </div>
    <div class="col-md-6">
        <h1>Our Blog</h1>
        <h2>Post #1</h2>
        <div>
            <h4><i class="fa fa-arrow-right"></i><%= link_to "Next Post", post2_path %></h4>
        </div>
        <div>
            <h4><i class="fa fa-arrow-left"></i><%= link_to "Index", blog_path %></h4>
        </div>
    </div>
</div>
<div class="page-frame">
    <h2>Why Switching Your Primary Shipping to USPS Could Help You Save Big and How Blazar Can Help</h2>
    <p>USPS is rapidly becoming the leader in small package shipping. Since the same quarter just last year,
     their shipping has increased by 14.4&percnt;. Talk about record breaking! Why is this postal service having such a resurgence
     in popularity for information distribution?</p>
    <p>One big factor is their low prices. While competitors like UPS charge up to $35.17 to send a two pound package to a customer 
    with a two day delivery time, The USPS will ship that same package for $5.05. That is an 86&percnt; savings for a 
    similar delivery time and package tracking capabilities. Businesses are veering away from high-price competitors 
    and toward massive savings just by switching to USPS as their primary shipping service.</p>
    <p>Their rising focus on simplifying the shipping process for business owners is another huge reason so many companies are actively turning 
    their shipping over to USPS. The postal service has been offering increasingly enticing benefits for budget friendly shipping,
    such as continued competitive pricing with their competitors, increased sorting and delivery efficiency, free shipping supplies delivered 
    on-site, online shipping purchase discounts, and improved postal tracking.
    Other Factors to consider when shipping:</p>
    <ul>
      <li>Dimensional Rating</li>
      <li>Residential surcharges</li>
      <li>Fuel Surcharges</li>
      <li>Missing or in accurate address information</li>
      <li>Saturday delivery surcharge</li>
      <li>Delivery times: always know when your package or delivery will arrive</li>
    </ul>
    <p>Still want more? Take a look at this comparison (below) between the time it takes to ship from Irvine with FedEx's ground rate 
    compared to USPS's low-cost Priority Shipping rates:</p>
    <img src="http://www.blazarcomm.com/wp-content/uploads/2015/08/fedex-400x232.png" class="pull-left" height="250px" width="400px" />
    <img src="http://www.blazarcomm.com/wp-content/uploads/2015/08/usps-400x193.png" class="pull-right" height="250px" width="400px" />
    <div class="clear"> 
    <p>At Blazar, we aim to give you that same feeling of satisfactory savings. We focus on helping you save as much as possible on your
    business shipping costs. Our vendor-neutral ideals mean we can offer you the best of every system. Whether it's printing,
    tracking, postal cost control, or preparation for sending, we implement our values 
    to guarantee you access to the latest discounts and the very best of information processing and management solutions.</p>
    <p>Contact us today for a no-obligations company analysis and find out more about how your company could be achieving 
    big savings with our USPS approved mailing solutions. We look forward to working with you!</p>
    </div>
</div>

<div>
    <%= link_to "https://www.facebook.com/pages/Blazar-Communications/596802763701910", class: 'navbar-brand lead' do %>
          <i class="fa fa-facebook-official"></i>
      <% end %>
      <%= link_to "https://plus.google.com/109011054650093657125/about", class: 'navbar-brand lead' do %>
          <i class="fa fa-google-plus-square"></i>
      <% end %>
      <%= link_to "http://blazarcommunications.tumblr.com/", class: 'navbar-brand lead' do %>
          <i class="fa fa-tumblr-square"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/company/blazar-mailing-and-logistics-solutions", class: 'navbar-brand lead' do %>
          <i class="fa fa-linkedin-square"></i>
      <% end %>
      
</div>